@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding :0;
    margin : 0;
    box-sizing: border-box; 
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f5efe6;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Style de notre container qui contiendra le catalogue et la barre de recherches*/
.container{
    background-color: #fff;
    height : auto;
    width :500px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
/*On ajoute du style à notre barre de recherche grace a son id */
#search{
    margin-top: 15px;
    padding: 12px;
    border-color : 2px solid #333;;
    background-color:  rgb(255, 162, 0);
    border-radius: 10px;
    width : 60%;
    transition: all 0.5s;
}
/*On ajoute du style a la barre de recherche quand elle est selectionné*/
#search:focus{
    background-color: #fff;
    border-color:  rgb(255, 162, 0);
}
/*On ajote du style au placeholder de la barre de recherche*/
#search::placeholder{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight :500
}
/*On ajote du style à notre div catalogue , qui est la div qui contient les livres */
#catalogue {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
  transition: all;
}
/*On ajoute du style à nos livres*/
.livre {
  background-color: #f9f9f9;
  border-left: 5px solid rgb(255, 162, 0);
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
/*On ajoute du style particulier lorsqu'on survole la souris*/
.livre:hover {
  transform: scale(1.02);
  background-color: #fff8e1;
}

.livre h3 {
  margin-bottom: 5px;
  color: #333;
}

.livre p {
  margin: 3px 0;
  font-size: 0.9em;
  color: #555;
}